.clientinfo{
    margin-top: 50px;
    margin-left: 25px;
    padding: 15px;
    width: 510px;
    height: 318px;
    border: 10px solid darkkhaki;
    position: fixed;
    background: white
}
.client img {
    width: 90%;
}
.search{
    margin:15px 10px;
}
input{
    width: 100%;
}
input:focus{
    background: rgb(208, 247, 208);
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    cursor: pointer;
    padding: 10px 10px;
    
}
ul li:hover{
    background: rgb(246, 255, 122);
    font-weight: bolder;
    border-bottom: 4px solid rgb(255, 123, 0);
}
.pattern{
    margin-top: 50px;
    margin-left: 25px;
    padding: 15px;
    width: 510px;
    height: 318px;
    border: 10px solid darkkhaki;
    position: fixed;
    background: white
}
